.todoContainer {
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.todoCreateForm {
    display: flex;
    gap: 5px;
}

.todoInput {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    border: 1px #999;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.buttonCreate {
    border: none;
    background-color: #1a4ca9;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.todosContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

}

.todo {
    padding: 10px;
    background-color: #ffffff;
}

.todoTitle {
    flex: 1;
    font-size: 20px;
}

.todoUpdateForm,
.todoInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.button {
    border: none;
    background-color: #487add;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.buttonDelete {
    border: none;
    background-color: #a91a02;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}